 <footer>
    <span class="title">
        <p class="footer_title">© 2025 ALT0153 | Tous droits réservés |</p>
    </span>
</footer>
<script src="../../public/scripts/menu.js" ></script>
</body>
</html>