body {
    background-color : #d5c2fccb;
    font-family: 'Playwrite NO';

    margin: 0%;

    nav {
        color : #ffffff;
        background-color: rgba(0, 0, 0, 0.680);

        padding: 1rem;
        padding-right: 1rem;
        display : flex;
        justify-content: space-around;

        .name_title{
            font-family: 'Bebas Neue';
            font-size: 2rem;

            margin-bottom: 0%;
        }

        .job_title{
            font-size: small;
        }

        .about{
            display : flex;
            align-items: center;

            p{
                font-family: 'Bebas Neue';
                font-size: 2rem;

                margin-left: 5rem;
                
                margin-top: 0%;
                margin-bottom: 0%;
            }  
        }
            
    }

    .main{
        margin-left: 4.5rem;
        margin-right : 4rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .left_main{
            padding: 1rem;

            width: 85%;

            grid-column: 1 / 3;
            grid-row: 1;
        }

        .right_main{
            padding: 1rem;
            margin-right: 4rem;

            grid-column: 3 / 3;
            grid-row: 1;
        }
        
        .logo{

            display: grid;
            grid-template-columns: repeat(3, 0fr);
            justify-content: space-evenly;
            justify-items: center;
            grid-column: 4 / 1;

            .github_logo{
                width: 4rem;
            }

            .linkedin_logo{
                width: 4rem;
            }

            .mail_logo{
                width: 4rem;
            }
        }
       
    }
}