body {
    background-color : #d5c2fccb;
    font-family: 'Playwrite NO';

    margin: 0%;

    nav {
        color : #ffffff;
        background-color: rgba(0, 0, 0, 0.680);

        padding: 1rem;
        padding-right: 1rem;
        display : flex;
        justify-content: space-around;

        .name_title{
            font-family: 'Bebas Neue';
            font-size: 2rem;

            margin-bottom: 0%;
        }

        .job_title{
            font-size: small;
        }

        .about{
            display : flex;
            align-items: center;

            p{
                font-family: 'Bebas Neue';
                font-size: 2rem;

                margin-left: 5rem;
                
                margin-top: 0%;
                margin-bottom: 0%;
            }  
        }
            
    }

    .main{
        margin-left: 4.5rem;
        margin-right : 4rem;

        display: flex;
        flex-direction: row;

        .left_main{
            padding: 1rem;
            width: 50%;
        }

        .right_main{
            padding: 1rem;

            width: 100%;

            display: flex;
            align-items: flex-end;
            justify-content: space-between;


            .github_main{
                width: 5rem;
            }

            .linkedin_main{
                width: 5rem;
            }

            .mail_main{
                width: 6rem;
            }
        }

    }
}