@media screen and (max-width : 768px) {
    * {
        background-color : #d5c2fccb;
        font-family: 'Playwrite NO';

        margin: 0%;
        padding: 0%;

        box-sizing: border-box;

        nav {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.680);

            padding: 1rem;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;

            button {
                font-size: 2rem;
                display: block;
                width: 80%;
            };

            .title {

                background-color: rgba(0, 0, 0, -0.32);

                padding-left: 1rem;

                grid-column: 2 / 4;

                .name_title {
                    font-family: 'Bebas Neue';
                    font-size: xx-large;

                    background-color: rgba(0, 0, 0, -0.32);
                };

                .job_title {
                    font-size: x-small;
                    background-color: rgba(0, 0, 0, -0.32);
                };
            };

            .menu_about {
                display: none;
                flex-direction: column;
                margin-top: 15px;
                background-color: rgba(0, 0, 0, -0.32);
            };

            .menu_about.active {
                display: flex;
                grid-column: 1 / 4;

                a {
                    background-color: rgba(0, 0, 0, -0.32);
                    font-family: 'Bebas Neue';
                    font-size: x-large;
                    padding: 1rem;

                };
            };
        };

        article {
            padding: 1rem;

            font-size: small;

            .logo {
                
                visibility: collapse;

                .github_logo {
                    height: 0.1rem;
                    font-size: 0.1rem;
                };

                .linkedin_logo {
                    height: 0.1rem;
                    font-size: 0.1rem;
                };

                .mail_logo {
                    height: 0.1rem;
                    font-size: 0.1rem;
                };
            };
        };

        .footer_title {
            font-family: 'Bebas Neue';
            font-size: large;

            background-color: rgba(0, 0, 0, 0.680);
            color: white;

            text-align: center;

            padding: 1rem;
        }
    };
};